# Ignore Python virtual environment
venv/
env/

# Ignore Node.js dependencies
node_modules/

# Ignore environment variables & settings
.env

# Ignore database & migrations
db.sqlite3
__pycache__/

# Ignore build files
build/
dist/
*.log

# Ignore IDE & editor config files
.vscode/
.idea/
*.swp
.DS_Store
